* {
  padding: 0;
  margin: 0;
}

body {
    background: #ccc;
}

.container {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;

}

.container header  {
  background: #242424;
  padding: 15px;
  width: 100%;
  
}

.container header ul {
  margin: 0px 15px 00px 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container header ul > a {
  text-decoration: none;
  color: #fff
}

.container header ul > button {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.container > .title-quiz {
  color: #fff;
  padding: 15px;
  width: 100%;
  text-align: center;
}

.container > .title-quiz > h3 {
  font-size: 30px;
}

.container .card-quiz {
  border: 1px solid #000;
  padding: 8px;
  border-radius: 5px;
  width: 500px;
  /*max-width: 90%;*/
}

.container .card-quiz .card-header {
  background: #4B4B4B;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 25px;
}

.container .card-quiz .card-body {
  border: 1px solid red;
  margin-top: 10px;
  padding: 5px;

  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  grid-gap: 15px 10px;
}

.container .card-quiz .card-body > button {
  background: #4B4B4B;
  color: #fff;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border: none;
  font-size: 15px;
  border-radius: 5px;
}


/* result view */
.result {
  width: 100%;
  height: 100vh;
  text-align: center;
  font-size: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.newgame {
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
}